
.Footer {
  background-color: var(--main-theme-color);
  width: 100%;
  color: var(--white-color);
  font-family: Dosis, sans-serif;
  text-align: center;
  padding: 40px;

  h4 {
    color: var(--white-color);
    padding: 0;
    margin: 0;
    font-family: 'Dosis', 'sans-serif';
  }
}