
:root {
  --main-background-color: #242c30;
  --main-theme-color: #9b7c1b;
  --hover-control-color: #c79c13;
  --white-color: #fff;
  --grayed-out: rgb(75, 75, 75);
  --add-bg: #abbc5c;
  --add-control-color: #506407;
  --remove-bg: #cd7b48;
  --remove-control-color: #8b4300;
  --alert: #ce433d;
}