
.Error {
  span {
    font-family: "Open Sans", sans-serif;
    color: var(--alert);
    text-align: center;
    font-size: 14px;
    padding: 15px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}